In [1]:
import pandas as pd
import numpy as np
import networkx as nx
from collections import defaultdict

In [2]:
def clean_it(path):
    with open(path, 'r') as f:
        lst = f.readlines()
        out = []
        for i in lst:
            row = i[2:-1] # deleting all elements we don't need 
            out.append(row)
        clean_out = out[7:]
        clean_out2 = []
        for j in range(len(clean_out)):
            clean_out2.append(list(map(int, clean_out[j].split())))        
    return clean_out2

In [3]:
path_dist="C:\\Users\Debodeep\Documents\Sapienza Learning Materials\ADM\ADMHw5"+"\\USA-road-d.CAL.gr"
path_time="C:\\Users\Debodeep\Documents\Sapienza Learning Materials\ADM\ADMHw5"+"\\USA-road-t.CAL.gr"
path_cod= "C:\\Users\Debodeep\Documents\Sapienza Learning Materials\ADM\ADMHw5"+"\\USA-road-d.CAL.co"

In [4]:
list_dist=clean_it(path_dist)
list_time=clean_it(path_time)
list_cod=clean_it(path_cod)

In [5]:
data_dist=pd.DataFrame(list_dist)
data_dist.columns=["Node_a","Node_b","dist"]
data_dist.head()

    Node_a   Node_b  dist
0        1  1048577   456
1  1048577        1   456
2        2  1048578  2389
3  1048578        2  2389
4        3  1048579   358

In [6]:
data_time=pd.DataFrame(list_time)
data_time.columns=["Node_a","Node_b","dist"]
data_time.head()

    Node_a   Node_b  dist
0        1  1048577  1139
1  1048577        1  1139
2        2  1048578  5972
3  1048578        2  5972
4        3  1048579   895

In [7]:
data_ntrk=pd.DataFrame(columns=['Node_a',"Node_b"])
data_ntrk['Node_a']=pd.Series(data_dist["Node_a"])
data_ntrk['Node_b']=pd.Series(data_dist["Node_b"])
data_ntrk['dist']=1
data_ntrk.head()

    Node_a   Node_b  dist
0        1  1048577     1
1  1048577        1     1
2        2  1048578     1
3  1048578        2     1
4        3  1048579     1

In [12]:
                       ########### Function to get the neighbouring nodes ##############

v=int(input("Please type the id of the node you want to start with: "))
metric=input("Please type the metric you prefer. The options are distance, time, network: ")
val=int(input("Please type the numerical value of the chosen metric: "))
if (metric=="distance"):
    def recursive_function(node_a,distance,the_list):
        df2 = data_dist[(data_dist.Node_a==node_a) & (data_dist.dist <= distance) & (~data_dist.Node_b.isin(the_list))]
        df2['dist_left'] = distance-df2['dist']
        the_list.extend(list(df2.Node_b))
        n = df2[['Node_b','dist_left']].shape[0]
        for i in range(n):
            recursive_function(df2.iloc[i,1],df2.iloc[i,3],the_list) #applying the search recursively
    def call_function(node_a,distance):
        the_list=[]
        recursive_function(node_a,distance,the_list)
        the_list = list(set(the_list)) #removing duplicates
        the_list.remove(node_a)
        return(the_list) 
elif(metric=="time"):
    def recursive_function(node_a,distance,the_list):
        df2 = data_time[(data_time.Node_a==node_a) & (data_dist.time <= distance) & (~data_time.Node_b.isin(the_list))]
        df2['dist_left'] = distance-df2['dist']
        the_list.extend(list(df2.Node_b))
        n = df2[['Node_b','dist_left']].shape[0]
        for i in range(n):
            recursive_function(df2.iloc[i,1],df2.iloc[i,3],the_list) #applying the search recursively
    def call_function(node_a,distance):
        the_list=[]
        recursive_function(node_a,distance,the_list)
        the_list = list(set(the_list)) #removing duplicates
        the_list.remove(node_a)
        return(the_list) 
else: 
    print("Wrong option chosen")
call_function(v,val)

Please type the id of the node you want to start with: 1
Please type the metric you prefer. The options are distance, time, network: distance
Please type the numerical value of the chosen metric: 4000

C:\Users\Debodeep\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':

[1048577, 1803, 2589]