In [1]:
import pandas as pd
import numpy as np
import networkx as nx
from collections import defaultdict

In [2]:
def clean_it(path):
    with open(path, 'r') as f:
        lst = f.readlines()
        out = []
        for i in lst:
            row = i[2:-1] # deleting all elements we don't need 
            out.append(row)
        clean_out = out[7:]
        clean_out2 = []
        for j in range(len(clean_out)):
            clean_out2.append(list(map(int, clean_out[j].split())))        
    return clean_out2

In [3]:
path_dist="C:\\Users\Debodeep\Documents\Sapienza Learning Materials\ADM\ADMHw5"+"\\USA-road-d.CAL.gr"
path_time="C:\\Users\Debodeep\Documents\Sapienza Learning Materials\ADM\ADMHw5"+"\\USA-road-t.CAL.gr"
path_cod= "C:\\Users\Debodeep\Documents\Sapienza Learning Materials\ADM\ADMHw5"+"\\USA-road-d.CAL.co"

In [4]:
list_dist=clean_it(path_dist)
list_time=clean_it(path_time)
list_cod=clean_it(path_cod)

In [118]:
data_dist=pd.DataFrame(list_dist)
data_dist.columns=["Node1","Node2","measure"]
data_dist.head()

     Node1    Node2  measure
0        1  1048577      456
1  1048577        1      456
2        2  1048578     2389
3  1048578        2     2389
4        3  1048579      358

In [79]:
data_time=pd.DataFrame(list_time)
data_time.columns=["Node1","Node2","measure"]
data_time.head()

     Node1    Node2  measure
0        1  1048577     1139
1  1048577        1     1139
2        2  1048578     5972
3  1048578        2     5972
4        3  1048579      895

In [131]:
measure=1
data_ntrk=pd.DataFrame(columns=['Node1',"Node2"])
data_ntrk['Node1']=pd.Series(data_dist["Node1"])
data_ntrk['Node2']=pd.Series(data_dist["Node2"])
data_ntrk['measure']=1
data_ntrk.head()

     Node1    Node2  measure
0        1  1048577        1
1  1048577        1        1
2        2  1048578        1
3  1048578        2        1
4        3  1048579        1

In [15]:
list_cod=clean_it(path_cod)

In [134]:
                       ########### Function to get the neighbouring nodes ##############

v=int(input("Please type the id of the node you want to start with: "))
metric=input("Please type the metric you prefer. The options are distance, time, network: ")
val=int(input("Please type the numerical value of the chosen metric: "))
if (metric=="distance"):
    def neighbours(v,val):
        neighbour = data_dist[(data_dist['Node1'] == v) & (data_dist['measure'] <= val)]
        l_n = len(neighbour)

        if l_n>0:
            output = neighbour['Node2'].tolist()
            for k in output:
                d = data_dist[(data_dist['Node1'] == v) & (data_dist['Node2'] == nodo2)]
                d =int(d['measure'])
                neighbour=pd.concat([neighbour,neighbours(k, val-d)]).drop_duplicates().reset_index(drop=True)
        return neighbour
    neighbour=neighbours(v,val)
    result = set(neighbour['k'].tolist())
    print(result)
elif(metric=="time"):
    def neighbours(v,val):
        neighbour = data_time[(data_time['Node1'] == v) & (data_time['measure'] <= val)]
        l_n = len(neighbour)

        if l_n>0:
            output = neighbour['Node2'].tolist()
            for k in output:
                d = data_dist[(data_time['Node1'] == v) & (data_time['Node2'] == k)]
                d =int(d['measure'])
                neighbour=pd.concat([neighbour,neighbours(k, val-d)]).drop_duplicates().reset_index(drop=True)
        return neighbour
    neighbour=neighbours(v,val)
    result = set(neighbour['Node2'].tolist())
    print(result)
else: 
    print("Wrong option chosen")

Please type the id of the node you want to start with: 1
Please type the metric you prefer. The options are distance, time, network: network
Please type the numerical value of the chosen metric: 5
{1048577, 1803}