In [4]:
# Libraries
import pandas as pd
import networkx as nx
from tqdm import tqdm
import pickle # used to store the files
import itertools
from itertools import permutations
import folium # used to plot
import numpy as np
import decimal
from  more_itertools import unique_everseen
from collections import defaultdict
from tqdm import tqdm_notebook
import builtins

## Import coordinates (used for the plot)

In [15]:
coordinates = pd.read_csv(r"C:\Users\Luca\Desktop\WIP\ADM HW 5\data\USA-road-d.CAL.co", sep=' ', delimiter=None,
                      index_col=None, usecols=None, encoding='ISO-8859-1')

C:\Users\Luca\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (1,2,3,4,5,6) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [16]:
# combining two columns pandas
coordinates['combined']=coordinates['c'].astype(str)+''+coordinates['9th'].astype(str)

In [17]:
coordinates = coordinates.iloc[6:] # deleting the first 5 rows

In [18]:
# organizing pandas DF
coordinates.drop(['c', '9th', 'Challenge:', 'Shortest', 'Paths'], axis=1, inplace=True)

In [19]:
coordinates.columns = ['Latitude', 'Longitude', 'Id_Node']

In [20]:
coordinates = coordinates.reset_index(drop=True)

In [21]:
# Transform all str into int
coordinates[['Latitude', 'Longitude']] = coordinates[['Latitude', 'Longitude']].astype(int)

##

In [2]:
def clean_it(path):
    with open(path, 'r') as f:
        lst = f.readlines()
        out = []
        for i in lst:
            row = i[2:-1] # deleting all elements we don't need 
            out.append(row)
        clean_out = out[7:]
        clean_out2 = []
        for j in range(len(clean_out)):
            clean_out2.append(list(map(int, clean_out[j].split())))        
    return clean_out2

In [3]:
path_dist="C:\\Users\Debodeep\Documents\Sapienza Learning Materials\ADM\ADMHw5"+"\\USA-road-d.CAL.gr"
path_time="C:\\Users\Debodeep\Documents\Sapienza Learning Materials\ADM\ADMHw5"+"\\USA-road-t.CAL.gr"
path_cod= "C:\\Users\Debodeep\Documents\Sapienza Learning Materials\ADM\ADMHw5"+"\\USA-road-d.CAL.co"

In [4]:
list_dist=clean_it(path_dist)
list_time=clean_it(path_time)
list_cod=clean_it(path_cod)

In [80]:
data_dist=pd.DataFrame(list_dist)
data_dist.columns=["Node_a","Node_b","dist"]
data_dist['weight']=1
data_dist.head()

    Node_a   Node_b  dist  weight
0        1  1048577   456       1
1  1048577        1   456       1
2        2  1048578  2389       1
3  1048578        2  2389       1
4        3  1048579   358       1

In [81]:
data_time=pd.DataFrame(list_time)
data_time.columns=["Node_a","Node_b","time"]
data_time['weight']=1
data_time.head()

    Node_a   Node_b  time  weight
0        1  1048577  1139       1
1  1048577        1  1139       1
2        2  1048578  5972       1
3  1048578        2  5972       1
4        3  1048579   895       1

In [7]:
data_cod=pd.DataFrame(list_cod)
data_cod.columns=["Node_a","latitude","longitude"]
data_cod.head()

   Node_a   latitude  longitude
0       1 -114315309   34133550
1       2 -114223946   34176221
2       3 -114307299   34148791
3       4 -114318765   34138889
4       5 -114347300   34042614

In [16]:
map_data = {'Node_a':data_dist["Node_a"], 'Node_b':data_dist["Node_b"],'dist':data_dist["Node_b"],"time":data_time["time"]}
map_data=pd.DataFrame(map_data)
map_data['weight']=1
map_data.head()

    Node_a   Node_b     dist  time  weight
0        1  1048577  1048577  1139       1
1  1048577        1        1  1139       1
2        2  1048578  1048578  5972       1
3  1048578        2        2  5972       1
4        3  1048579  1048579   895       1

In [71]:
#create a class called Graph where 
#self.edges is a dict of all possible next nodes e.g. {'1': ['4', '3', '8', '9'], ...}
#self.weights has all the weights between two nodes, with the two nodes as a tuple as the key e.g. {('1', '2'): 1, ('5', '9'): 1, ...}

class Graph():
    def __init__(self):
        self.edges = defaultdict(list)
        self.weights = {}
    
    def add_edge(self, from_node, to_node, weight):
        # assuming edges are bi-directional
        self.edges[from_node].append(to_node)
        self.edges[to_node].append(from_node)
        self.weights[(from_node, to_node)] = weight
        self.weights[(to_node, from_node)] = weight

In [72]:
#call the Graph class
graph = Graph()

In [82]:
#take the input in which first node represents the source and the last node represents the destination
list_of_nodes_to_dest = []
def take_input():
    while True:
        inp = input()
        if inp == "":
            break
        else:
            list_of_nodes_to_dest.append(inp)
            
    #pack the graph, source input and destination input into a tuple ie. (graph,source,destination)
    res = [(graph ,list_of_nodes_to_dest[i], list_of_nodes_to_dest[i + 1])
           for i in range(len(list_of_nodes_to_dest) - 1)] 
    
    #choose which type of distance to consider
    print("Choose 1 for distance, 2 for network distance and 3 for time")
    inp = input()   
    return inp,res

In [83]:
inp,res = take_input()

21
22
23
24
25

Choose 1 for distance, 2 for network distance and 3 for time
1

In [84]:
#create an edge list with source, target and distance/network distance/time distance
edge_list = []
if inp == '1':
    for i,j in data_dist.iterrows():
        edge_list.append((j[0],j[1],j[2]))
elif inp == '2':
    for i,j in data_dist.iterrows():
        edge_list.append((j[0],j[1],j[3]))
elif inp == '3':
    for i,j in data_time.iterrows():
        edge_list.append((j[0],j[1],j[2]))

In [89]:
for edge in edge_list:
    graph.add_edge(*edge)

In [90]:
def dijsktra(graph, initial, end):
    # shortest paths is a dict of nodes
    # whose value is a tuple of (previous node, weight)
    shortest_paths = {initial: (None, 0)}
    current_node = initial
    visited = set()
    
    while current_node != end:
        visited.add(current_node)
        destinations = graph.edges[current_node]
        weight_to_current_node = shortest_paths[current_node][1]

        for next_node in destinations:
            weight = graph.weights[(current_node, next_node)] + weight_to_current_node
            if next_node not in shortest_paths:
                shortest_paths[next_node] = (current_node, weight)
            else:
                current_shortest_weight = shortest_paths[next_node][1]
                if current_shortest_weight > weight:
                    shortest_paths[next_node] = (current_node, weight)
    
        next_destinations = {node: shortest_paths[node] for node in shortest_paths if node not in visited}
        if not next_destinations:
            return "Route Not Possible"
        # next node is the destination with the lowest weight
        current_node = min(next_destinations, key=lambda k: next_destinations[k][1])
        

    # Work back through destinations in shortest path
    path = []
    weights = []
    while current_node is not None:
        path.append(current_node)
        next_node = shortest_paths[current_node][0]
        weights.append(shortest_paths[current_node][1])
        current_node = next_node
    # Reverse path
    path = path[::-1]
    return weights[0],path

In [99]:
#call the shortest route function to find the shortest path and weight between each set of nodes
df_nodes=dijsktra(graph,21,22)

In [100]:
df_nodes

(160235,
 [21,
  1048596,
  1048595,
  24,
  23,
  61,
  1048625,
  1048628,
  65,
  1048629,
  66,
  80,
  1048641,
  2319,
  1048593,
  22])

In [ ]:
sequence = df_nodes[1]

In [9]:
start = 160235

In [26]:
sequence = [21,
  1048596,
  1048595,
  24,
  23,
  61,
  1048625,
  1048628,
  65,
  1048629,
  66,
  80,
  1048641,
  2319,
  1048593,
  22]

In [27]:
# we then create a list of unique nodes
n = builtins.map(int, sequence) 
n = list(unique_everseen(n))

In [28]:
map4 = folium.Map(location = [34.133550,-114.315309], zoom_start = 6)

In [29]:
first = n.pop(0) # --> starting point

In [30]:
# We are going to use a different marker to show the initial node
longitude = str(coordinates.iloc[int(first)-1]['Longitude'])
longitude = decimal.Decimal(longitude[:2] + "." + longitude[2:])

latitude = str(coordinates.iloc[int(first)-1]['Latitude'])
latitude = decimal.Decimal(latitude[:4] + "." + latitude[4:])

folium.Marker(
    location=[longitude, latitude],
    popup='Timberline Lodge',
    icon=folium.Icon(color='red')
).add_to(map4)

In [31]:
coor = []
for node in n:
    
    # We locate the coordinates of the node
    longitude = str(coordinates.iloc[int(node)-1]['Longitude']) 
    longitude = decimal.Decimal(longitude[:2] + "." + longitude[2:])
    
    latitude = str(coordinates.iloc[int(node)-1]['Latitude'])
    latitude = decimal.Decimal(latitude[:4] + "." + latitude[4:])
    
    # We add a marker for each node in the list n
    folium.Marker([longitude, latitude]).add_to(map4)
    coor.append((longitude, latitude))

In [32]:
folium.PolyLine(coor).add_to(map4)
map4